.imgsize{
    max-height: 50vh;
}
.text-orange {
  color: orangered;
}
.rating-custom{
  color: orange;
  text-decoration: none;
  cursor: pointer;
}
.rating-custom:hover{
  color: orangered;
}
.card-img-top {
    
    height: 250px;
}
.bg-light-red {
  background-color: rgba(255, 0, 0, 0.1); 
}
.banner {
  background-color: black;
  border: 1px solid;
  border-color: orange;
  padding: 10px;
  text-align: center;
  position: fixed;
  z-index: 1000;
  width: 40%;
  height: 10vh;
}

.link{
  color: orange !important;
}
.link:hover{
  color: orangered !important;
}
