<div class="modal-overlay mt-2">
  <div
    *ngIf="showSuccess === false"
    class="modal-content rounded p-2 d-flex flex-column align-items-center"
  >
    <h5 class="text-center">Passwort vergessen</h5>
    <p class="text-center">
      Geben Sie Ihre E-Mail-Adresse ein, um Ihr Passwort zurückzusetzen:
    </p>

    <!-- Passwort zurücksetzen Form -->
    <form
      #passwordResetForm="ngForm"
      (ngSubmit)="requestPasswordReset()"
      class="d-flex flex-column align-items-center"
    >
      <div class="form-group">
        <input
          type="email"
          id="email"
          [(ngModel)]="email"
          name="email"
          required
          email
          class="form-control mb-2"
          placeholder="E-Mail-Adresse"
          (input)="onEmailInputChange()"
        />
        <div
          *ngIf="
            (passwordResetForm.controls['email'].hasError('email') || !email) &&
            passwordResetForm.controls['email'].touched
          "
          class="text-danger"
        >
          Ungültige E-Mail-Adresse
        </div>
        <div *ngIf="showEmailNotFoundError" class="text-danger">
          E-Mail-Adresse existiert nicht!
        </div>
      </div>
      <button
        class="btn btn-primary btn-custom mb-2"
        type="submit"
        [disabled]="
          passwordResetForm.controls['email'].hasError('email') || !email
        "
      >
        Passwort zurücksetzen
      </button>
      <button class="btn btn-primary btn-custom" (click)="closeModal()">
        Schließen
      </button>
    </form>
    <!-- Passwort zurücksetzen Form Ende -->

  </div>

  <!-- Bestätigungsnachricht -->
  <div
    *ngIf="showSuccess"
    class="modal-content rounded p-2 d-flex flex-column align-items-center"
  >
    <h5 class="text-center">Bestätigung</h5>
    <p class="text-center">
      Eine E-Mail mit weiteren Anweisungen zum Zurücksetzen Ihres Passworts
      wurde gesendet.
    </p>
    <button class="btn btn-primary btn-custom" (click)="closeModal()">
      Schließen
    </button>
  </div>
  <!-- Bestätigungsnachricht Ende -->

</div>
