<div class="container mt-5">
  <div
    *ngIf="!passwordResetSuccess"
    class="password-reset-container d-flex justify-content-center align-items-center"
  >
    <div
      style="width: 30vw; min-width: 300px"
      class="background-resetpassword p-3 rounded"
    >
      <h2 class="text-white">Passwort zurücksetzen</h2>

      <!-- Neue Passwörtet Form -->
      <form (ngSubmit)="resetPassword()">
        <div class="form-group">
          <label class="text-white" for="newPassword"
            >Neues Passwort (mindestens 8 Zeichen)</label
          >
          <input
            type="password"
            id="newPassword"
            [(ngModel)]="newPassword"
            name="newPassword"
            required
            minlength="8"
            class="form-control"
          />
          <div
            class="text-danger"
            *ngIf="newPassword.length > 0 && newPassword.length < 8"
          >
            Das Passwort muss mindestens 8 Zeichen lang sein.
          </div>
        </div>
        <div class="form-group">
          <label class="text-white" for="confirmPassword"
            >Passwort bestätigen</label
          >
          <input
            type="password"
            id="confirmPassword"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            required
            class="form-control"
          />
          <div
            class="text-danger"
            *ngIf="
              confirmPassword !== newPassword && confirmPassword.length > 0
            "
          >
            Die Passwörter stimmen nicht überein.
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-custom">
          Passwort aktualisieren
        </button>
      </form>
      <!-- Neue Passwörtet Form Ende -->

    </div>
  </div>

  <!-- Passwort zrurückgesetzt -->
  <div
    *ngIf="passwordResetSuccess && showTokenError === false"
    class="d-flex justify-content-center align-items-center background-resetpassword p-3 rounded"
  >
    <div class="text-center">
      <h2 class="text-white text-center">
        Ihr Passwort wurde erfolgreich aktualisiert!
      </h2>
      <p class="text-center text-white mt-2">
        Weiterleitung zur Login Seite in {{ remainingTime }} Sekunden...
      </p>
    </div>
  </div>
  <div
    *ngIf="showTokenError"
    class="d-flex justify-content-center align-items-center background-resetpassword p-3 rounded"
  >
    <div class="text-center">
      <h2 class="text-white mt-2">Ihr Verifizierungstoken ist abgelaufen!</h2>
      <p class="text-center text-white">
        Weiterleitung zur Home Seite in {{ remainingTime }} Sekunden...
      </p>
    </div>
  </div>
  <!-- Passwort zrurückgesetzt Ende -->

</div>
